body {
 background: #1abc9c;
 font-family: Tahoma, Arial, sans-serif; 
 color: #ffffff;
 padding-bottom: 100px;
}

.hide {
    display: none;
}

.visible {
    display: block;
}

.archive {
 display: block-inline;
 width: 960px; 
 margin-left: auto;
 margin-right: auto;
}

.post-title a {
 color: #ffffff;
}

.article-author { 
 width: 50%; 
 float: left;
}

.article-created-date { 
 text-align: right;
}

.header {
    display: flex;
}


.header img {
 display: block; 
 width: 318px; 
 margin-left: auto; 
 margin-right: auto;
 float: left;
}
.header a {
    text-decoration: none;
}
.header a h1 {
 float: right;
 color: #ffffdd;
 text-align: center;
 margin: 42px;
}
.fold-button a {
    text-align: right;
    display: flex;
    float:right;
}